body {
    font-family: "Raleway";
    background-color: #fcfbfb;
    padding: 0;
    margin: 0;
}

/*  */
.sidebar {
    height: 100vh;
    background-color: #141111f6;
    /* background: linear-gradient(rgba(6, 5, 24, 0.853),rgba(216, 233, 216, 0.152)),
    linear-gradient(rgba(26, 25, 36, 0.853),rgba(216, 233, 216
=p;p;';p;'/p;[;/'p['], 0.2)),
    linear-gradient(rgba(3, 1, 44, 0.853),rgba(216, 233, 216, 0.52)); */

    /* background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.2))
    ,url("../images/bgb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 35px #999; */
}
.bottom-border {
    border-bottom: 1px groove #f8eded;
}
.sidebar {
    padding: 0;
}

.pl-4 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.text-muted-notifications {
    color: #79bd56!important;
}
.bg-dark {
    height: 62px;
    background-color: rgb(102, 98, 98)!important;
}
.sidebar-link {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.sidebar-link:hover {
    background-color: #79BD58;
    font-size: 1.1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 5px;
}
.navbar-brand {
    background-color: #79BD58;
}
.current {
    background-color:#53B701;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 2px 5px 4px #141111f6;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.current:hover {
    background-color: #15cc15d8;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 2px 5px 18px #111;
    transform: translate(-1px);
    -webkit-transform: translate(-1px);
    -moz-transform: translate(-1px);
    -ms-transform: translate(-1px);
    -o-transform: translate(-1px);
}

.search-input::placeholder {
  color:rgb(218, 214, 214);
}
.search-input {
    background: transparent;
    border: none;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-bottom: 2px solid #0ba030;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.search-input:focus {
    background: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #ace6acd8;
}

.search-button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.search-button:hover {
    background-color: rgb(202, 231, 207);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.icon-parent {
    position: relative;
}

.icon-bullet::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 17px;
    height: 14px;
    width: 14px;
    background-color: #1a2425;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.signout {
    background-color: rgb(17, 17, 13);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
    }

    .top-navbar {
        position: static;
    }
}

.card-common {
    box-shadow: 2px 3px 5px #999;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.card-common:hover {
    box-shadow: 18px 22px 28px #999;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}
